.App {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.file-selector {
  display: flex;
  flex-direction: row;
  height: 30px;
}

.editor-window {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.dummy-div {
  width: 100%;
  height: 100%;
}

.filename-button {
  width: 100px;
  font-size: 16px;
  font-family: sans-serif;
  background-color: #222222;
  color: white;
  border-radius: 10%;
}

.filename-button-hidden {
  display: none;
}